---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import moment from "moment";
import TrainingDetails from "./../components/training-details.astro";
import PaymentForm from "../components/payment-form";
import {getEntry} from "astro:content";
import { ClerkLayout } from "astro-clerk-auth/components/control";

export async function getStaticPaths() {
  const trainingEntries = await getCollection("training");
  return trainingEntries.map((entry) => ({
    params: { slug: entry?.slug },
    props: { entry },
  }));
}

const {auth} = Astro.locals

if(!auth().userId){
   return Astro.redirect('/sign-in')
}


const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("training", slug);
if (entry === undefined) {
  return Astro.redirect("/404");
}
const { Content } = await entry.render();


const workshopStartDate = moment(entry?.data?.workshopDetails?.startDate).fromNow(true);
const discountPrice = Math.floor(entry?.data?.actualPrice! - (entry?.data?.actualPrice! * (entry?.data?.discount!)) / 100);
const formattedPrice = `${discountPrice} (${entry?.data?.discount}% OFF)`;
const pageTitle = entry?.data?.title;
const pageDescription = entry?.data?.teaser;
const bannerImageUrl = entry?.data?.image?.src;
// export const prerender = true;
---
<Layout title={pageTitle}>
  <Container>
    <div class="max-w-screen-2xl mx-auto mt-12 px-4 lg:px-5">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div  class="w-full">
          <div class="rounded-lg relative overflow-hidden bg-white  mb-8">
            <img src={bannerImageUrl} alt={pageTitle} class="w-full h-72 object-cover" />
            <div class=" mt-5">
              <h3 class="text-sm font-bold uppercase">{entry?.data?.numberOfDays}-Day Training Workshop</h3>
              <h1 class="text-lg sm:text-sm md:text-lg text-indigo-500 lg:text-xl font-bold">{pageTitle}</h1>
              <p class="">{pageDescription}</p>
              <!-- <p class="text-xs sm:text-sm md:text-base mb-2 px-4 py-1 shadow-lg border border-dashed border-white bg-slate-500 rounded-full">
                Workshop training starts in {workshopStartDate}
              </p> -->
            </div>
          </div>


          <div>
            <h2 class="text-xl lg:text-2xl font-bold mb-2">Course Description</h2>
            <p class="text-gray-700">{entry?.data?.description}</p>
          </div>
          <TrainingDetails entry={entry}/>
        </div>
        <div class="">

          <PaymentForm entry={entry} email={auth().sessionClaims?.email} client:only="react" />
          </div>
        </div>
      </div>
      <div class="text-center mt-8 mb-5">
        <a href="/training" class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition inline-block">← Back to Workshops</a>
      </div>

  </Container>
</Layout>
