---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import TrainingCard from "@components/cards/TrainingCard.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedTrainingEntries = await getCollection("training", ({ data }) => {
  return !data.draft;
});

// Sort content entries by publication date
publishedTrainingEntries.sort(function (a, b) {
  return a.data.publishDate.valueOf() - b.data.publishDate.valueOf();
});

---

<Layout title="Training">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Training Workshops</Fragment>
      <Fragment slot="desc">
        Empowering professionals with cutting-edge tech skills for a future-ready workforce.
      </Fragment>
    </Sectionhead>
    <main class="mt-8 mb-16">
      <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-screen-2xl mx-auto px-4">
        {
          publishedTrainingEntries.map((trainingEntry, index:number) => (
            <li>
              <TrainingCard 
                status={trainingEntry.data.status} 
                title={trainingEntry.data.title} 
                date={trainingEntry.data.publishDate} 
                imageUrl={trainingEntry.data.image.src} 
                link={`/training/${trainingEntry.slug}`}
              />
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
