---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Icon } from "astro-icon/components";
import  {supabase}  from "../../../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token") as any;
const refreshToken = cookies.get("sb-refresh-token") as any;

const { data, error } = await supabase.auth.getSession()

console.log('====================================');
console.log(data);
console.log('====================================');

const menuitems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "About",
    path: "/about",
  },

  {
    title: "Training",
    path: "/training",
    // children:[
    //   {title:'Workshop', path:'/workshop'}
    // ]
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];




---


  <header class="flex  flex-col lg:flex-row justify-between items-center my-5 px-40">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-2xl"
          ><span class="font-bold text-blue-800">Sky</span><span
            class="text-blue-500">fusion</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-5">
          {
            menuitems.map((item:any, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600  hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
       {
        data?.session?.user != null ? (   <Link href="/signin" style="muted" block size="md">Log in</Link>
        <Link href="/register" size="md" block>Sign up for a workshop</Link>): (
          <h2>Sign Out</h2>
        )
       }
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4 ">
  {
    data?.session?.user == null ? (
    <a href="/signin">Log in</a>
        <Link href="/register" size="md" class=" font-semibold text-white bg-indigo-500 rounded-full hover:bg-indigo-400">Join our workshop &rarr; </Link>
      
    ):(
<div class="w-8 h-8 flex justify-center items-center rounded-full bg-indigo-500 text-white text-2xl font-bold">

    <span id="avatarInitial">A</span>
  </div>

    )
  }
      </div>
    </div>
  </header>

