---
import { fetchAndParseMarkdown } from "@lib/util";
import DashboardLayout from "@layouts/DashboardLayout.astro";
import { marked } from "marked";
const { slug } = Astro.params;

const workshop = await fetchAndParseMarkdown(`https://gvcpyhkcnsqchooabnez.supabase.co/storage/v1/object/public/mbukit/${Astro.url.pathname.split("/")[3]}`);
const contentHtml = marked(workshop.content) || "";

console.log(workshop);
---
<DashboardLayout>
  <article class="prose max-w-7xl dark:bg-gray-800/90 lg:prose-xl mx-auto my-8 p-4 dark:text-white">
    <header class="mb-8">
      <h1 class="text-xl lg:text-3xl font-bold dark:text-gray-300">{workshop.frontmatter?.title}</h1>
      <p class="text-lg lg:text-xl dark:text-gray-300 mt-2">{workshop.frontmatter?.teaser}</p>
    </header>

    <section class="mt-8">
      <h2 class="text-2xl lg:text-3xl font-bold dark:text-gray-300">Introduction</h2>
      <div class="mt-4 text-base lg:text-lg">
        <p>{workshop.frontmatter?.description}</p>
      </div>
    </section>

    <section class="mt-8">
      <h2 class="text-2xl lg:text-3xl font-bold dark:text-gray-300">Workshop Details</h2>
      <div class="mt-4 text-base lg:text-lg">
        {workshop.frontmatter?.workshopDetails && (
          <div class="accordion">
            <input type="checkbox" id="workshopDetailsToggle" class="accordion-toggle hidden" />
            <label for="workshopDetailsToggle" class="cursor-pointer">
              <p class="font-bold">Workshop Details</p>
              <p>{workshop.frontmatter.workshopDetails.startDate} to {workshop.frontmatter.workshopDetails.endDate}</p>
            </label>
            <div class="accordion-content mt-4">
              <ul>
                <li><strong>Location:</strong> {workshop.frontmatter.workshopDetails.location}</li>
                <li><strong>Time:</strong> {workshop.frontmatter.workshopDetails.startTime} - {workshop.frontmatter.workshopDetails.endTime} (Break at {workshop.frontmatter.workshopDetails.breakTime}, Closing at {workshop.frontmatter.workshopDetails.closingTime})</li>
                <li><strong>Registration Deadline:</strong> {workshop.frontmatter.workshopDetails.deadlineRegistration}</li>
                <li><strong>Price:</strong> ${workshop.frontmatter.actualPrice} (15% discount available)</li>
                <li><strong>Capstone Projects:</strong> {workshop.frontmatter.capstoneProjects}</li>
                <li><strong>Other Details:</strong> {workshop.frontmatter.workshopDetails.otherDetails}</li>
              </ul>
            </div>
          </div>
        )}
      </div>
    </section>

    <section class="mt-8">
      <h2 class="text-2xl lg:text-3xl font-bold dark:text-gray-300">Instructor Bio</h2>
      <div class="mt-4 text-base lg:text-lg">
        <p class="mt-4">{workshop.frontmatter?.instructorBio}</p>
      </div>
    </section>

    <section class="mt-8">
      <h2 class="text-2xl lg:text-3xl font-bold dark:text-gray-300">Notes</h2>
      <div class="mt-4 text-base lg:text-lg">
        <ul>
          <li>Ensure a stable internet connection for the online sessions.</li>
          <li>Sessions will be recorded and available for later viewing.</li>
          <li>Active participation in discussions and case studies is encouraged.</li>
          <li>Complete the pre-workshop reading materials provided upon registration.</li>
        </ul>
      </div>
    </section>

    <section class="mt-8">
      <h2 class="text-2xl lg:text-3xl font-bold dark:text-gray-300">Materials</h2>
      <div class="mt-4 text-base lg:text-lg">
        <ul>
          <li>Pre-workshop reading materials (distributed upon registration)</li>
          <li>Access to online resources and databases</li>
          <li>Case study documentation</li>
          <li>IoT device and data analytics software (optional, for hands-on practice)</li>
        </ul>
      </div>
    </section>

    <section class="mt-8">
      <h2 class="text-2xl lg:text-3xl font-bold dark:text-gray-300">Modules</h2>
      <div class="mt-4">
        {workshop.frontmatter?.content && workshop.frontmatter.content.map((module, index) => (
          <div class="mb-8">
            <div class="accordion">
              <input type="checkbox" id={`moduleToggle-${index}`} class="accordion-toggle hidden" />
              <label for={`moduleToggle-${index}`} class="cursor-pointer">
                <h3 class="text-xl lg:text-2xl font-bold dark:text-gray-300">{module.title}</h3>
                <p class="text-base lg:text-lg">{module.description}</p>
              </label>
              <div class="accordion-content mt-4">
                <div class="mt-4">
                  <h4 class="text-lg font-bold">Materials:</h4>
                  {module.materials && (
                    <ul class="list-disc list-inside">
                      {module.materials.map((material) => (
                        <li class="text-base lg:text-lg">{material}</li>
                      ))}
                    </ul>
                  )}
                </div>
                <div class="mt-4">
                  <h4 class="text-lg font-bold">Exercises:</h4>
                  {module.exercises && (
                    <ul class="list-disc list-inside">
                      {module.exercises.map((exercise) => (
                        <li class="text-base lg:text-lg">{exercise}</li>
                      ))}
                    </ul>
                  )}
                </div>
                <div class="mt-4">
                  <h4 class="text-lg font-bold">Notes:</h4>
                  {module.notes && (
                    <ul class="list-disc list-inside">
                      {module.notes.map((note) => (
                        <li class="text-base lg:text-lg">{note}</li>
                      ))}
                    </ul>
                  )}
                </div>
                <div class="mt-4">
                  <h4 class="text-lg font-bold">Instructions:</h4>
                  {module.instructions && (
                    <ul class="list-disc list-inside">
                      {module.instructions.map((instruction) => (
                        <li class="text-base lg:text-lg">{instruction}</li>
                      ))}
                    </ul>
                  )}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
    </section>

    <section class="mt-8">
      <h2 class="text-2xl lg:text-3xl font-bold dark:text-gray-300">Additional Resources</h2>
      <div class="mt-4 text-base lg:text-lg">
        {workshop.frontmatter?.resources && (
          <div class="accordion">
            <input type="checkbox" id="resourcesToggle" class="accordion-toggle hidden" />
            <label for="resourcesToggle" class="cursor-pointer">
              <p class="font-bold">Additional Resources</p>
              <p>Books, Websites, Software, Journals, Online Courses</p>
            </label>
            <div class="accordion-content mt-4">
              <ul>
                <li><strong>Books:</strong></li>
                <ul>
                  {workshop.frontmatter.resources.books.map((book) => (
                    <li class="text-base lg:text-lg">{book}</li>
                  ))}
                </ul>
                <li><strong>Websites:</strong></li>
                <ul>
                  {workshop.frontmatter.resources.websites.map((website) => (
                    <li><a href={website} class="dark:text-gray-300 underline">{website}</a></li>
                  ))}
                </ul>
                <li><strong>Software:</strong></li>
                <ul>
                  {workshop.frontmatter.resources.software.map((software) => (
                    <li class="text-base lg:text-lg">{software}</li>
                  ))}
                </ul>
                <li><strong>Journals:</strong></li>
                <ul>
                  {workshop.frontmatter.resources.journals.map((journal) => (
                    <li class="text-base lg:text-lg">{journal}</li>
                  ))}
                </ul>
                <li><strong>Online Courses:</strong></li>
                <ul>
                  {workshop.frontmatter.resources.onlineCourses.map((course) => (
                    <li class="text-base lg:text-lg">{course}</li>
                  ))}
                </ul>
              </ul>
            </div>
          </div>
        )}
      </div>
    </section>

  </article>
</DashboardLayout>