---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import '@fontsource/poppins';
import '@fontsource-variable/work-sans';
import '@fontsource-variable/manrope';
import '../../app/globals.css';
import { ClerkLayout } from "astro-clerk-auth/components/control";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/opengraph.jpg", Astro.site).toString();

const { title } = Astro.props;
const makeTitle = title ? `${title} | Skyfusion` : "Skyfusion - Starter Template for Astro with Tailwind CSS";
---


<ClerkLayout>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{makeTitle}</title>
    <SEO
      title={makeTitle}
      description="Skyfusion: The Leading Tech Training Company"
      canonical={canonicalURL}
      twitter={{
        creator: "@vypecode",
        site: "@skyfusion",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "Skyfusion - Educate, Innovate & Integrate",
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Skyfusion Homepage Screenshot",
        },
      }}
    />
 <!--<ViewTransitions/>-->
  </head>
  <body class="relative text-gray-900 dark:bg-gray-900 dark:text-gray-50 transition-colors duration-300 ease-in-out font-inter">
  
        <Navbar />
   
    
      <div class="mt-36">
        <slot />
      </div>
    
 <Footer/>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      body {
        /* font-family: 'Inter', sans-serif;
         */
     body {
  font-family: 'Manrope Variable', sans-serif;
}
      }
      h1, h2, h3, h4, h5, h6 {
        body {
  font-family: 'Manrope Variable', sans-serif;
}
      }
      header, footer, main {
        width: 100%;
      }
    </style>
  </body>
</html>
</ClerkLayout>