---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import '@fontsource/poppins';
import '@fontsource-variable/work-sans';
import '@fontsource-variable/manrope';
import '@fontsource/ibm-plex-sans';
import '../../app/globals.css';
import { ClerkLayout } from "astro-clerk-auth/components/control";
import SpeedInsights from "@vercel/speed-insights/astro";

export interface Props {
  title: string;
  description?: string;
  imageUrl?: string;
}

const { title, description, imageUrl } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const resolvedImageWithDomain = new URL(imageUrl ?? "/opengraph.jpg", Astro.site).toString();
const makeTitle = title ? `${title} | Skyfusion` : "Top Tech Training Workshops in Africa - AI, Web Development, Data Analysis";
---

<ClerkLayout>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description ?? "Skyfusion: The Leading Tech Training Company"} />
    <meta name="title" content={makeTitle} />
    <title>{makeTitle}</title>

    <SEO
      title={makeTitle}
      description={description ?? "Skyfusion: The Leading Tech Training Company"}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          description: description ?? "Skyfusion - Educate, Innovate & Integrate",
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Skyfusion Homepage Screenshot",
          src: resolvedImageWithDomain
        },
      }}
    />
    <link rel="sitemap" href="/sitemap-0.xml" />
    <style>
        @view-transition {
            navigation: auto;
        }
    </style>
  </head>
  <body class="relative text-gray-900 dark:bg-gray-900 dark:text-gray-50 transition-colors duration-300 ease-in-out font-inter">
  <Navbar />
  <main class="mt-36">
    <slot />
  </main>
  <Footer />
  <style is:global>
      /* Improve Page speed */
      img {
          content-visibility: auto;
      }
      body {
          font-family: 'Manrope Variable', sans-serif;
          font-size: 1rem; /* Base font size */
      }
      h1, h2, h3, h4, h5, h6 {
          font-family: 'Manrope Variable', sans-serif;
      }
      header, footer, main {
          width: 100%;
      }

      /* Responsive font sizes */
      h1 {
          font-size: 1.75rem; /* Subtle size for h1 */
      }
      h2 {
          font-size: 1.5rem; /* Subtle size for h2 */
      }
      h3 {
          font-size: 1.375rem; /* Subtle size for h3 */
      }
      h4 {
          font-size: 1.25rem; /* Subtle size for h4 */
      }
      h5 {
          font-size: 1.125rem; /* Subtle size for h5 */
      }
      h6 {
          font-size: 1rem; /* Subtle size for h6 */
      }

      @media (min-width: 768px) {
          body {
              font-size: 1.0625rem; /* Slightly increase base font size on tablets and up */
          }
          h1 {
              font-size: 2rem; /* Subtle increase for h1 */
          }
          h2 {
              font-size: 1.75rem; /* Subtle increase for h2 */
          }
          h3 {
              font-size: 1.5rem; /* Subtle increase for h3 */
          }
          h4 {
              font-size: 1.375rem; /* Subtle increase for h4 */
          }
          h5 {
              font-size: 1.25rem; /* Subtle increase for h5 */
          }
          h6 {
              font-size: 1.125rem; /* Subtle increase for h6 */
          }
      }

      @media (min-width: 1024px) {
          body {
              font-size: 1.125rem; /* Slightly increase base font size on desktops and up */
          }
          h1 {
              font-size: 2.25rem; /* Subtle increase for h1 */
          }
          h2 {
              font-size: 2rem; /* Subtle increase for h2 */
          }
          h3 {
              font-size: 1.75rem; /* Subtle increase for h3 */
          }
          h4 {
              font-size: 1.5rem; /* Subtle increase for h4 */
          }
          h5 {
              font-size: 1.375rem; /* Subtle increase for h5 */
          }
          h6 {
              font-size: 1.25rem; /* Subtle increase for h6 */
          }
      }

      @media (min-width: 1440px) {
          body {
              font-size: 1.1875rem; /* Slightly increase base font size on large screens */
          }
          h1 {
              font-size: 2.5rem; /* Subtle increase for h1 */
          }
          h2 {
              font-size: 2.25rem; /* Subtle increase for h2 */
          }
          h3 {
              font-size: 2rem; /* Subtle increase for h3 */
          }
          h4 {
              font-size: 1.75rem; /* Subtle increase for h4 */
          }
          h5 {
              font-size: 1.5rem; /* Subtle increase for h5 */
          }
          h6 {
              font-size: 1.375rem; /* Subtle increase for h6 */
          }
      }
  </style>
  <script defer data-inlinky-id="MTcy" src="https://json-api.inlinky.com/script.js"></script>
  </body>
  </html>
</ClerkLayout>


<!-- Semantic Schema generated by InLinks -->
<script type="application/ld+json"> {
  "@context": "https://schema.org",
  "@type": "WebPage",
  "headline": " Skyfusion: The Leading Tech Training Company",
  "about": [
    {"@type": "Thing","name": "Leading","sameAs": "https://en.wikipedia.org/wiki/Leadership"},
    {"@type": "Thing","name": "tech","sameAs": "https://en.wikipedia.org/wiki/Information_technology"}
  ],
  "mentions": [
    {"@type": "Thing","name": "Home","sameAs": "https://en.wikipedia.org/wiki/Home"},
    {"@type": "Thing","name": "Educate","sameAs": "https://en.wikipedia.org/wiki/Education"},
    {"@type": "Thing","name": "Innovate","sameAs": "https://en.wikipedia.org/wiki/Innovation"},
    {"@type": "Thing","name": "software engineering","sameAs": "https://en.wikipedia.org/wiki/Software_engineering"},
    {"@type": "Thing","name": "cutting-edge","sameAs": "https://en.wikipedia.org/wiki/State_of_the_art"},
    {"@type": "Thing","name": "evolving","sameAs": "https://en.wikipedia.org/wiki/Evolution"},
    {"@type": "Thing","name": "Paid","sameAs": "https://en.wikipedia.org/wiki/Payment"}
  ]
}
</script>